h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 20px;
}

input {
  margin-top: 10px;
  padding: 5px;
}

button {
  margin-top: 10px;
}

#message {
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

